- const gallery = LANG.gallery;
- const cards = LANG.cards;

div.container
    div.main
        div.main_gallery
            div.main_gallery_header
                h1= gallery.gallery_header
            div.main_gallery_cards
                each card in cards
                    div.card_wrapp
                        div(id=card.id).card
                            span.card_star.far.fa-star
                            div.card_img
                                img(src=card.img)
                            div.card_content
                                h3.card_content--title= card.name
                                p.card_content--year= card.year
                        div.data
                            img(src=card.img).data_img
                            h2.data_title= card.name
                            p.data_description= card.description
                            p.data_director= card.director
                            each star in card.starring
                                p.data_stars= star
                            p.data_year= card.year
                            each genre in card.genres
                                p.data_genres= genre

        div.main_sidebar
            div.main_sidebar_header
                img(src=gallery.favorite_star, alt="")
                h3= gallery.favorite_header
            div.main_sidebar_article.article
